@import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Roboto:wght@200..700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  flex-direction: column;
}
